* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(51, 81, 225) 50%, rgb(192, 208, 245) 50%);
}


.input-box {
    position: relative;
}

.input-box input[type="password"] {
    padding-right: 40px;
}

.input-box .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 13px;
    /* Adjust the font size as desired */
}

.form-content .input-box .inputbox:focus {
    /* Styles for input box when focused */
    outline: none;
    border-color: rgba(55, 80, 235, 255);
    box-shadow: 0 0 0 2px rgba(55, 80, 235, 0.2);
}

.input-boxes .input-box .inputbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 1px;
    position: relative;
    background: rgba(237, 240, 245, 255);
    border-radius: 10px;
    /* padding: 5px 10px; */
    color: gray;
    border: none;
    outline: none;
}

#password:focus {
    /* Styles for input box when focused */
    outline: none;
    border-color: none;
    box-shadow: none;
}

.container {
    position: relative;
    max-width: 800px;
    /* height: 400px; */
    width: 100%;
    background: #ffff;
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: 3px 3px 30px 2px rgba(20, 20, 20, 0.4);
    perspective: 2800px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.container #flip:checked~.cover {
    transform: rotateY(-180deg);
    border-radius: 20px 0px 0px 20px;
}


.container .cover .front,
.container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container .cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    z-index: 11;
    /* Add z-index to ensure the back image is displayed on top */
}

button{
    color: #fff;
    background-color: rgba(55, 80, 235, 255);
    /* Change background color */
    border-radius: 10px;
    /* Use same border-radius as input boxes */
    padding: 0 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    padding: 10px 50px;
    margin-top: 10px;
    /* Match width of input boxes */
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    border: none;
    outline: none;
    width: 80%;
}

.container .cover .back .backImg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    border-radius: 20px 0px 0px 20px;
}


.container .cover::before,
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    border-radius: 20px;
}

.container .cover::after {
    transform: rotateY(180deg);
    backface-visibility: visible;
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    border-radius: 0px 20px 20px 0px;
}

.container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}
.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form {
    width: calc(100% / 2 - 25px);
}

.form-content .signup-form {
    width: calc(100% / 2 - 25px);
    text-align: center;
    margin-top: -15px;
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 12;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: rgb(51, 81, 225);
}

.forms .signup-form .title:before {
    width: 20px;
}

.forms .form-content .input-boxes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.error{
    border: 1px solid red;
}

.input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-boxes label {
    color: grey !important;
    font-size: 12px;
    width: 78%;
}

small{
    width: 78%;
    text-align: start;
    font-size: 11px;
    margin-top: 2px;
    color: red;
}

.input-boxes .input-box input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 1px;
    position: relative;
    background: rgba(237, 240, 245, 255);
    border-radius: 10px;
    padding: 5px 10px;
    color: gray;
    border: none;
    outline: none;
}

.input-boxes .input-box select{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: 1px;
    position: relative;
    background: rgba(237, 240, 245, 255);
    border-radius: 10px;
    padding: 5px 10px;
    color: gray;
    border: none;
    outline: none;
    font-size: 14px;
}



.form-content .input-box input:focus {
    /* Styles for input box when focused */
    outline: none;
    border-color: rgba(55, 80, 235, 255);
    box-shadow: 0 0 0 2px rgba(55, 80, 235, 0.2);
}

.form-content .input-box input:valid {
    /* Styles for input box when value is valid */
    border-color: green;
}



.forms .form-content .text {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.forms .form-content .text a {
    color: rgba(55, 80, 235, 255);
    text-align: left;
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}


.forms .form-content .button {
    color: #fff;
    text-align: center;
    /* Align submit text in center */
}

.forms .form-content .button input {
    color: #fff;
    background-color: rgba(55, 80, 235, 255);
    /* Change background color */
    border-radius: 20px;
    /* Use same border-radius as input boxes */
    padding: 0 30px;
    cursor: pointer;
    transition: all 0.4s ease;
    height: 45px;
    /* Match height of input boxes */
    width: 280px;
    /* Match width of input boxes */
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.forms .form-content .button input:hover {
    background: rgba(55, 80, 235, 255);
}

.forms .form-content label {
    color: rgba(55, 80, 235, 255);
    cursor: pointer;

}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 20px;
}

.container #flip {
    display: block;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: block;
    }

    .container #flip:checked~.forms .signup-form {
        display: block;
    }

    .container #flip:checked~.forms .login-form {
        display: none;
    }
}