.wrapper{
    position: absolute;
    top: 80px;
    /* left:240px; */
    /* width: calc(100%-240px);
    height: calc(100%-80px); */
    width: 100%;
    font-size: 12px;
    background-color:  rgb(223, 220, 232);
}

.holder{
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}

button{
    background-color: #5066e1;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
    font-size: 10px !important;
}