<div class="wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
                <form [formGroup]="registerForm" novalidate>
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col">
                                <div class="text-center">
                                    <span class="title">Publisher Signup</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="mb-2">
                                    <label for="firstName">First Name</label>
                                    <input type="text" name="firstName" placeholder="Enter first name (eg:Dipak)" formControlName="firstName" id="firstName">
                                    <small
                                    *ngIf="registerForm.controls['firstName'].dirty && registerForm.hasError('required','firstName')">*Firstname 
                                    is Required</small>
                                </div>
                                <div class="mb-2">
                                    <label for="username">User Name</label>
                                    <input type="text" name="username" placeholder="Enter username name (eg:dmz07)" formControlName="username" id="username">
                                    <small
                                    *ngIf="registerForm.controls['username'].dirty && registerForm.hasError('required','username')">*Username
                                    is Required</small>
                                </div>
                                <div class="mb-2">
                                    <label for="city">City</label>
                                    <input type="text" name="city" placeholder="Enter city (eg:Nashik)" formControlName="city" id="city">
                                    <small
                                    *ngIf="registerForm.controls['city'].dirty && registerForm.hasError('required','city')">*City
                                    is Required</small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-2">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" name="lastName" placeholder="Enter last name (eg:zope)" formControlName="lastName" id="lastName">
                                    <small
                                    *ngIf="registerForm.controls['lastName'].dirty && registerForm.hasError('required','lastName')">*Lastname
                                    is Required</small>
                                </div>
                                <div class="mb-2">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" placeholder="Enter your password (eg:Abc@123)" formControlName="password" id="password">
                                    <small
                                    *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')">*Password
                                    is Required</small>
                                </div>
                                <div class="mb-2">
                                    <label for="state">State</label>
                                    <input type="text" name="state" placeholder="Enter state (eg:Maharashtra)"formControlName="state" id="state">
                                    <small
                                    *ngIf="registerForm.controls['state'].dirty && registerForm.hasError('required','state')">*State
                                    is Required</small>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-2">
                                    <label for="country">Email ID</label>
                                    <input type="email" name="email" placeholder="Enter email-id (eg:ab@gmail.com)" formControlName="email" id="email">
                                    <small
                                    *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')">*Email ID
                                    is Required</small>
                                </div>
                                <div class="mb-2">
                                    <label for="password1">Confirm Password</label>
                                    <input type="password" placeholder="Confirm your password" name="password1" formControlName="password1" id="password1">
                                    <small
                                    *ngIf="registerForm.controls['password1'].dirty && registerForm.hasError('required','password1')">*Please Confirm your Password
                                    </small>
                                    <!-- <small
                                    *ngIf="registerForm.hasError('passwordMatchError','password1')">*Password Do Not Match
                                    </small> -->
                                </div>
                                <div class="mb-2">
                                    <label for="country">Country</label>
                                    <input type="text" placeholder="Enter country(eg:india)" name="country" formControlName="country" id="country">
                                    <small
                                    *ngIf="registerForm.controls['country'].dirty && registerForm.hasError('required','country')">*Country
                                    is Required</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="logo" class="text">Logo</label>
                                    <input #fileInput type="file"  (change)="onFileChange($event)">
                                    <!-- <small
                                    *ngIf="registerForm.controls['logo'].dirty && registerForm.hasError('required','logo')">*Logo
                                    is Required</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-2">
                                    <label for="prinfo">Publication Information</label>
                                    <!-- <input type="text" name="prinfo" id="prinfo"> -->
                                    <textarea name="prinfo" id="prinfo" formControlName="prinfo"></textarea>
                                    <small
                                    *ngIf="registerForm.controls['prinfo'].dirty && registerForm.hasError('required','prinfo')">*Publication Information
                                    is Required</small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 mt-3" id="btnwrap">
                                <button type="submit" (click)="onSubmit()">Submit</button>
                            </div>
                        </div>
                        <div class="text text-center sign-up-text mt-2">Already have account? <a routerLink="/login">Login now</a> </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>