<div class="wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
                <form>
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col">
                                <div class="text-center">
                                    <span class="title">Publisher Signup</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="mb-2">
                                    <label for="firstName">First Name</label>
                                    <input type="text" name="firstName" id="firstName">
                                </div>
                                <div class="mb-2">
                                    <label for="username">User Name</label>
                                    <input type="text" name="username" id="username">
                                </div>
                                <div class="mb-2">
                                    <label for="city">City</label>
                                    <input type="text" name="city" id="city">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-2">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" name="lastName" id="lastName">
                                </div>
                                <div class="mb-2">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password">
                                </div>
                                <div class="mb-2">
                                    <label for="state">State</label>
                                    <input type="text" name="state" id="state">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-2">
                                    <label for="country">Email ID</label>
                                    <input type="email" name="email" id="email">
                                </div>
                                <div class="mb-2">
                                    <label for="password">Confirm Password</label>
                                    <input type="password" name="password" id="password">
                                </div>
                                <div class="mb-2">
                                    <label for="country">Country</label>
                                    <input type="text" name="country" id="country">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="logo" class="text">Logo</label>
                                    <input class="" type="file" name="logo" id="logo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-2">
                                    <label for="prinfo">Publication Information</label>
                                    <!-- <input type="text" name="prinfo" id="prinfo"> -->
                                    <textarea name="prinfo" id="prinfo"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3" id="btnwrap">
                                <button type="submit">Submit</button>
                            </div>
                        </div>
                        <div class="text text-center sign-up-text mt-2">Already have account? <a href="login">Login now</a> </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>