.wrapper {
  position: fixed;
  top: 61px;
  left:207px;
  /* width: calc(100%-240px); */
  /*height: calc(100%-80px); */
  width: 100%;
  font-size: 12px;
  background-color:  rgb(223, 220, 232);
  border-radius: 10px;
  height: 800px;
  z-index: 200 !important;

  }
  
  .holder {
    position: fixed;
    top: 83px;
    left: 230px;
    right: 20px;
    bottom: 20px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  tbody {
    display: block;
    max-height: calc(100% - 20px); /* Adjust the max-height as needed */
    overflow-y: auto;
  }
  
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  th,
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  