<div class="sidebar">
  <div class="logo-details" style="background-color: #5066e1; margin:-15px;">
    <span class="logo_name">
      <img src="../../../assets/img/book 22.png" style="width: 180px; height: 70px; 
                border-radius: 10px; margin: 25px 0 0 30px;" alt="Logo Image">
    </span>
  </div>
  <ul class="nav-links">
    <div class="forpublisher" *ngIf="isLoggedInPublisher()">
      <li>
        <a routerLink="/dashboard/titles" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Titles</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/authors">
          <i class='bx bx-box'></i>
          <span class="links_name">Authors</span>
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/employees">
          <i class='bx bx-coin-stack'></i>
          <span class="links_name">Employees</span>
        </a>
      </li>
    </div>

    <div class="forauthor" *ngIf="isLoggedInAuthor()">
      <li>
        <a routerLink="#">
          <i class='bx bx-book-alt'></i>
          <span class="links_name">Request Title Publish</span>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i class='bx bx-book-alt'></i>
          <span class="links_name">Update Title Details</span>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i class='bx bx-book-alt'></i>
          <span class="links_name">Publishers</span>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i class='bx bx-book-alt'></i>
          <span class="links_name">Own Titles</span>
        </a>
      </li>
      <li>
        <a routerLink="#">
          <i class='bx bx-book-alt'></i>
          <span class="links_name">Stores Selling Title</span>
        </a>
      </li>
    </div>
    <li>
    <li (click)="logout()" class="log_out">
      <a href="">
        <i class='bx bx-log-out'></i>
        <span class="links_name">Log out</span>
      </a>
    </li>
  </ul>
</div>
<section class="home-section">
  <nav>
    <div class="curved-rectangle">
      <span class="placeholder-text">Dashboard</span>
    </div>
    <!-- <div class="profile-details">
       <img src="../../../assets/img/profile.png" alt="Image not found">
      <span class="admin_name">Admin</span>
      <i class='bx bx-chevron-down'></i>
      <ul class="dropdown-menu">
        <li><a routerLink="#">My Profile</a></li>
        <li><a routerLink="#">Orders</a></li>
      </ul>
    </div> -->
  </nav>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <!-- <i class='bx bx-menu sidebarBtn'></i> -->
        <!-- <span class="dashboard">Dashboard</span> -->
      </div>
      <div class="search-box">
        <!-- <input type="text" placeholder="Search..."> -->
        <!-- <i class='bx bx-search'></i> -->
      </div>
      <div class="profile-details">
        <img src="../../../assets/img/profile.png" alt="">
        <a routerLink="dashboard/profile" class="prof">
          <span class="admin_name" *ngIf="isLoggedInPublisher()">{{user.PubName | titlecase}}</span>
          <span class="admin_name" *ngIf="isLoggedInAuthor()">{{user.AuFname +' '+ user.AuLname | titlecase}}</span>
        </a>
      </div>
    </nav>
  </section>

  <router-outlet></router-outlet>
</section>