<div class="wrapper">
    <div class="holder">
        <form [formGroup]="titlePublishForm">
            <div class="col-12">
                <div class="py-5 pl-3 pr-2">
                    <div class="d-flex justify-content-between align-items-right mb-3">
                        <h4 class="text-right">Book Title Details</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4"><label class="labels">Title ID</label><input type="text"
                                class="form-control rounded" placeholder="Title ID" value="">
                        </div>
                        <div class="col-md-4"><label class="labels">Publisher ID</label><input type="text"
                                class="form-control rounded" value="" placeholder="Publisher ID">
                        </div>
                        <div class="col-md-4"><label class="labels">Title of Book</label><input type="text"
                                class="form-control rounded" placeholder="Title of Book" value="">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4"><label class="labels">Price</label><input type="text"
                                class="form-control rounded" placeholder="Price" value="">
                        </div>
                        <div class="col-md-4"><label class="labels">Date of Publish</label><input type="date"
                                class="form-control rounded" placeholder="Date of Publish" value="">
                        </div>
                        <div class="col-md-4"><label class="labels">Royalty</label><input type="text"
                                class="form-control rounded" placeholder="Royalty" value="">
                        </div>
                        <div class="col-md-4"><label class="labels">Year to Date Sales</label><input type="text"
                                class="form-control rounded" placeholder="Year to Date Sales" value="">
                        </div>
                        <div class="col-md-4"><label class="labels">Type of Book</label><input type="text"
                                class="form-control rounded" placeholder="Type of Book" value="">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label class="labels">Additional Information</label>
                            <textarea class="form-control rounded additional-information" placeholder=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary profile-button" type="button">Request</button>
                </div>
            </div>
            
        </form>
    </div>
</div>


<!-- <div class="container custom-rounded bg-white">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="200px;" src="Book-Image.jpg"><span class="font-weight-bold"> </span><span
                    class="text-black-50"> </span><span> </span>
            </div>
        </div>
    </div>
</div> -->