@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  position: fixed;
  top: 60px;
  left:205px;
  /* width: calc(100%-240px);
  height: calc(100%-80px); */
  width: 100%;
  font-size: 12px;
  background-color:  rgb(223, 220, 232);
  border-radius: 10px;
  height: 800px;
  z-index: 200 !important;
}

.holder{
    padding: 20px;
    border-radius: 20px;
    overflow: hidden;
}
.ad{
  height: 80px;
}

form{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    font-size: 16px;
    /* height: calc(100vh - 120px); */
    /* height: 350px; */
}

body {
  background: #5066e1;
  overflow: hidden;
}

.custom-column {
    background-color: #edf0f5;
    border-right: none;
    height:500px;
    padding-left: 0px;
    margin-left: -4px;
    border-radius: 20px 0px 0px 20px;
   
  }
  h4{
    margin-right: 70px;
  }

  span .font-weight-bold,
  .text-black-50{
    margin-bottom: 100px;
  }

.custom-rounded {
  border-radius: 20px;
  height: 500px;
  width:1000px;
  box-shadow: 3px 3px 30px 2px rgba(20, 20, 20, 0.1);
  position: absolute;
  left:40px;
  top: 20px;
}
.labels {
    font-size: 12px !important;
    color: grey;
  }

.form-control:focus {
  box-shadow: none;
  border-color: #6477e2;
  background-color: #edf0f5;
}

.profile-button {
  background: #5066e1;
  box-shadow: none;
  border: none;
}
.form-control.additional-information {
  height: 80px !important;
}
.form-control::placeholder {
    font-size: 12px;
    color: gray;
    opacity: 60%;
  }
  /* h4{
    margin-left: 180px;
    /* margin-top: -10px ; */
  
  .form-control {
    border-radius: 10px !important;
    background-color: #edf0f5;
    border: none;
    outline: none;
    margin-bottom: 0px;
  }
  .profile-button {
    background: #5066e1;
    box-shadow: none;
    border: none;
    margin-top: 8px; /* Adjust the margin as desired */
    position: relative;
    margin-left: 3px; 
    /* top: -35px; Adjust the position as desired */
    border-radius: 15px;
    width: 200px;
    font-size: 13px;
    height: 40px;
    padding: 5px;
  }
.profile-button:hover {
  background: #6477e2;
}
.additional-information {
  font-size: 12px;
  font-size: 12px !important;
  color: grey;
}

.profile-button:focus {
  background: #6477e2;
  box-shadow: none;
}

.profile-button:active {
  background: #6477e2;
  box-shadow: none;
}

.back:hover {
  color: #6477e2;
  cursor: pointer;
}

.add-experience:hover {
  background: #878df8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #8282ff;
}
